<!DOCTYPE html>
<html>
<head>
	<title>Fun With Handlebars</title>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Nixie+One|Libre+Baskerville' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href='/static/css/style.css'>
</head>

<body>
	<div class="header">
		<h1 class="title">Allison's Blog</h1>
		<div id="subtitle"></div>
	</div>
	<script id="subtitle-template" type="text/x-handlebars-template"> <h3>{{compliment}}</h3>
	</script>

	<div class="blog-content">

		<script id="entry-template" type="text/x-handlebars-template">
			<div class="entry-title">
				<h3>{{title}}</h3>
				<div class="entry-body">
					<img class="entry-img" src={{img}}>
					<p>{{body}}</p>
				</div>
			</div>
		</script>

	</div>
	<script>
	(function(){
		var blogPosts = [
			{title:"TwitchCon!", body:"It was so much fun!!", img:"http://www.3dvalley.com/tutorialsdata/flower.png"},
			{title:"Hackbright", body:"HEYY", img:"http://www.3dvalley.com/tutorialsdata/flower.png"},
			{title:"About Me", body:"I am tall.", img:"http://www.3dvalley.com/tutorialsdata/flower.png"},
		];




		var template = Handlebars.compile( $('#entry-template').html() );
				for (var i = 0; i < blogPosts.length; i++){
					$('.blog-content').append(template(blogPosts[i]));
		};
	})();

	(function(){
		var compliments =  ['Hello, you beautiful, rule-breaking moth.',
			'Hello, you cunning, pliable, chestnut-haired sunfish.',
			'Hello, you poetic, noble land-mermaid.',
			'Hello, you beautiful, naive, sophisticated newborn baby.',
			"Hello, you beautiful tropical fish. You're smart as a whip and you're cool under pressure.",
			'Hello, you’re a genius! Your brain is almost as perfect as your face.',
			'Hello, you’re so sweet and innocent and pretty.'];

		var randPick = Math.floor( Math.random() * compliments.length );

		var data = {compliment: compliments[randPick]};	

		var template = Handlebars.compile( $('#subtitle-template').html() );
		var html = template(data);

		$('#subtitle').append(template(data));
	})();
	</script>

</body>
</html>